<style>
body {
  background-color: lightgreen;
}

h1 {
  background-color: lightgreen;
  color: black;
  text-align: center;
  font-size: 80px;
}

h2 {
  font-size: 70px;
} 

p {
  color: black;
  text-align: center;
  font-size: 30px;
}
p2
  {font-size: 30px;
  }
</style>